
@{
    ViewBag.Title = "getDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/NewsParser.css" type="text/css" rel="stylesheet" />
<h2>@ViewBag.aTitle</h2>

<img src="@ViewBag.aImg" />
<div>@Html.Raw(ViewBag.aText)</div>

