
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/NewsParser.css" rel="stylesheet" type="text/css" />
<h2> CNBC News </h2>
<div class="list-group">
    @{

        var newslist = ViewBag.newsList;
        for (int i = 0; i < newslist.Count; i++)
        {
            <a class="list-group-item" href="/Cnbcarabia/getDetail?url=@newslist[i].alt_url">
                @if (newslist[i].url != "")
                {
                    <div style="background-image : url(@newslist[i].url);" class="img-rounded preshowImage forex-img"> </div>
                }
                <p>@newslist[i].text</p>
            </a>
        }

    }
</div>
