
@{
    ViewBag.Title = "getDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Forex.css" rel="stylesheet" type="text/css" />


<h1>@ViewBag.aMainText</h1>
<h2>@ViewBag.aSubText</h2>

<div>@Html.Raw(ViewBag.hText)</div>

