
@{
    ViewBag.Title = "getDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Alarabiya.css" type="text/css" rel="stylesheet" />

<h1 class="detail-title">@ViewBag.aTitle</h1>

<img src="@ViewBag.aImg" class="detail-image"/>

<div class="detail-body">
    @Html.Raw(ViewBag.aText);
</div>