
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2> Alarabiya News </h2>
<link href="~/Content/NewsParser.css" rel="stylesheet" type="text/css" />
<div class="list-group">
    @{

        var newslist = ViewBag.newsList;
        for (int i = 0; i < newslist.Count; i++)
        {
            <a class="list-group-item" href="/Alarabiya/getDetail?url=@newslist[i].alt_url">
                @if (newslist[i].url != "")
                {
                    <div style="background-image : url(@newslist[i].url);" class="img-rounded preshowImage thumbnail-img"> </div>
                }
                <p class="list-text">@newslist[i].text</p>
            </a>
        }

    }
</div>
